/*!
Hello, it appears you are trying to view my source code. I have compressed this code to improve performance but you can view my Sass, which is uncompressed, at the following URL:

https://github.com/DevinClark/devinclark.github.com/tree/master/sass
*/

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

// Layout
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.wrapper {
	width:860px;
	margin:0 auto;
}

body {
	padding:50px;
	font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#222;
	font-weight:300;
}

// Heading Styles
h1, h2, h3, h4, h5, h6 {
	color:#222;
	margin:0 0 20px;
}
h1, h2, h3 {
	line-height:1.1;
}
h1 {
	font-size:28px;
}
h2 {
	color:#393939;
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h3, h4, h5, h6 {
	color:#494949;
}

// Generic Elements
p, ul, ol, table, pre, dl {
	margin:0 0 20px;
}
em {
	font-style: italic;
}
a {
	color:#39c;
	font-weight:400;
	text-decoration:none;
}
a small {
	font-size:11px;
	color:#777;
	margin-top:-0.6em;
	display:block;
}
blockquote {
	border-left:1px solid #e5e5e5;
	margin:0;
	padding:0 0 0 20px;
	font-style:italic;
}
code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color:#333;
	font-size:12px;
}
pre {
	padding:8px 15px;
	background: #f8f8f8;
	border-radius:5px;
	border:1px solid #e5e5e5;
	overflow-x: auto;
}
table {
	width:100%;
	border-collapse:collapse;
}
th, td {
	text-align:left;
	padding:5px 10px;
	border-bottom:1px solid #e5e5e5;
}
dt {
	color:#444;
	font-weight:700;
}
dd {
	margin-bottom: 5px;
}
th {
	color:#444;
}
img {
	max-width:100%;
}
strong {
	color:#222;
	font-weight:700;
}
small {
	font-size:11px;
}
hr {
	border:0;
	background:#e5e5e5;
	height:1px;
	margin:0 0 20px;
}

// Header
header {
	width:270px;
	float:left;
	position:fixed;

	h1 {
		margin-bottom: 0;
	}
	img {
		width: 225px;
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}

// Main Content Area
section {
	width: 500px;
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;

	// border-bottom: 1px solid #bbb;

	&:first-of-type {
		padding-top: 0;
	}

	// &:last-of-type {
	// 	border-bottom: 0;
	// }

	ul {
		padding-bottom: 5px
	}
}

// Bar Graph
.bar-graph {
	border-right: 1px solid #bbb;
	width: 100%;
	padding: 5px 0;
	margin: 0;

	li {
		width: 100%;
		background: #f5f5f5;
		padding: 6px 10px;
		margin-bottom: 8px;
		font-weight: bold;
	}
}

// Timeline (Conference List)
.timeline {
	li {
		margin-left: 20px;
		font-size: 16px;
	}
	strong {
		margin-right: 5px;
		font-size: 18px;
	}
}

// Jobs and Schools
article {
	padding: 20px 25px;

	h3 {
		margin-bottom: 0;
	}
	h3 + em {
		display: block;
	}
	div {
		margin-top: 10px;
	}
	ul {
		list-style: disc;
		list-style-position: inside;
		padding-left: 20px;
		margin-bottom: 10px;
	}
}

// Footer
footer {
	width:270px;
	float:left;
	position:fixed;
	bottom:10px;
}

// Smaller Desktop (and print tweaks)
@media print, screen and (max-width: 960px) {
	div.wrapper {
		width:auto;
		margin:0;
	}
	body {
		padding-top: 10px;
		padding-bottom: 0;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 10px;
	}
	header, section, footer {
		float:none;
		position:static;
		width:auto;
	}
	header dt {
		float: left;
		margin-right: 5px;
	}
	header a small {
		display:inline;
	}
	section {
		border-width:1px 0;
		padding:10px 0;
		margin:0;
	}
	.bar-graph li {
		padding: 3px 10px;
		margin-bottom: 4px;
		font-size: 12px;
	}

}

// Tablet (and print tweaks)
@media print, screen and (max-width: 720px) {
	body {
		word-wrap:break-word;
	}
	header {
		padding:0;
	}
	pre, code {
		word-wrap:normal;
	}
}

// Mobile (and print tweaks)
@media print, screen and (max-width: 480px) {
	body {
		padding:15px;
	}
}

// Syntax Highlighting. Not needed at this point.
//@import "pygment_trac";

// Print Stylesheet
@media print {
	body {
		padding:0.4in;
		margin: 0;
		font-size:12pt;
		color:#444;
	}
	header .social {
		display: none;
	}
	section {
		padding-bottom: 10px;
	}
	h2 {
		margin-bottom: 5px;
	}
	.bar-graph li {
		border: 1px solid #bbb;
		font-size: 10pt;
		font-weight: normal;
	}
	.bar-graph li:after {
		content: attr("data-level");
		position: relative;
	}
	footer {
		display: none;
	}
}




